@import url("https://fonts.googleapis.com/css?family=Montserrat");
body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #333333 url('/images/page-bg.jpg');
    color: #5a5a5a;
}
.current{
    color: rgb(160, 160, 160) !important;
}

.sep-card-home{
    background: url('/images/body-bg.png');
    padding: 20px 50px 1px 50px;
    margin-top: 20px;
}
.sep-card-post{
    background: url('/images/body-bg.png');
    padding: 50px;
    margin-top: 20px;

    img{
        max-width: 96%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    table th {
        background-color: rgba(90, 90, 90, 0.5);
        border: 1px solid #5a5a5a;
        border-bottom-color: #5a5a5a;
    }
    table td {
        border: 1px solid #5a5a5a;
    }
    
    table th, table td {
        padding: 10px 15px;
    }
    
    table {
        margin-bottom: 30px;
        width: 100%;
        text-align: left;
        color: #5a5a5a;
        border-collapse: collapse;
        border: 1px solid #5a5a5a;
    }
    h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
        margin-bottom: 15px;
    }
}
.page-nav{
    margin-top: 20px;
    background: url('/images/body-bg.png');
    padding: 15px 15px 15px 15px;
}
#footer{
    width: 100%;
    color: rgb(70, 69, 69);
    background: url('/images/body-bg.png');
    /* height: 30px; */
    margin-top: 30px;
    font-size: 18px;
    padding: 15px;
}

.nav-style{
    background: url('/images/body-bg.png');
    color: white;

    a{
        color: rgb(70, 69, 69);
        font-weight: bold;
        &:hover{
            color: rgb(150, 150, 150);
        }
    }

}
.footer-icons{
    color: #5a5a5a;
    margin-left: 5px;
}
.cat-topic{
    color: rgba(83, 82, 23, 0.5);
    &:hover{
        color: rgba(83, 82, 23, 0.7);
    }
}
.post-topic{
    color: rgba(143, 56, 56, 0.5);
    &:hover{
        text-decoration: none;
        color: rgba(143, 56, 56, 0.8);
    }
}
.page-buttons{
    color: rgba(132, 79, 139, 0.5);
    font-weight: bold;
    &:hover{
        color: rgba(132, 79, 139, 0.8);
        text-decoration: none;
    }
}
.cat-link{
    &:hover{
        text-decoration: none;
    }
}