---
layout: default
---
<div class="container sep-card">
    <div class="text-center">
        <img class="profile-image-head" src="/images/profile.png" alt="">
        <h1 class="header-name">Dilum Sanjaya</h1>
        <div class="header-title">Data Scientist</div>
        <div class="header-title">Full Stack Developer</div>
        <div class="header-description">
            <p>IT professional highly skilled in machine learning, full-stack web development, data visualization and creative thinking. Fluent in English and Mandarin.</p>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="mailto:dilumsanjaya@gmail.com" class="c-link"><i class="fas fa-envelope"></i> dilumsanjaya@gmail.com</a></li>
            <li class="list-inline-item"><a href="tel:+94 0703301830" class="c-link"><i class="fas fa-phone"></i>+94 0703301830</a></li>
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item"><a class="scrollto nav-link c-link" href="#experiences-section">Experiences</a></li>
            <li class="list-inline-item"><a class="scrollto nav-link c-link" href="#education-section">Education</a></li>
            <li class="list-inline-item"><a class="scrollto nav-link c-link" href="#skills-section">Skills</a></li>
            <li class="list-inline-item"><a class="scrollto nav-link c-link" href="#portfolio-section">Portfolio</a></li>
            <li class="list-inline-item"><a class="scrollto nav-link c-link" href="#contact-section">Contact</a></li>
        </ul>
    </div>
</div>


<div class="container sep-card" id="experiences-section">
    <h1 class="subtopic-head">Experience</h1>
<div class="timeline">
    <div class="item">
        <div class="work-place">
            <h3 class="place">Freelance</h3>
            <div class="location"><i class="fas fa-map-marker-alt"></i> Colombo</div>
        </div>
        <div class="job-meta">
            <div class="title">Data Scientist / Full-Stack Developer</div>
            <div class="time">2018 - Present</div>
        </div>
        <div class="job-desc">
            <ul>
                <li>Designed and developed a recommendation engine optimize product placement</li>
                <li>Added face search interface for CCTV systems</li>
                <li>Helped to build tools for visualizations in genome data research</li>
            </ul>
        </div>
    </div>
    
    <div class="item">
        <div class="work-place">
            <h3 class="place">Freelance</h3>
            <div class="location"><i class="fas fa-map-marker-alt"></i> Beijing</div>
        </div>
        <div class="job-meta">
            <div class="title">Full-Stack Developer</div>
            <div class="time">2015 - 2018</div>
        </div>
        <div class="job-desc">
            <ul>
                    <li>Developed an ecommerce webapp, a fitness tracker app and some other apps using React</li>
                    <li>REST API development for Mobile Apps using Django REST framework</li>
                    <li>Universal Google Analytics integration with custom events</li>
                </ul>
        </div>
    </div>
    
    <div class="item">
        <div class="work-place">
            <h3 class="place">Pactera</h3>
            <div class="location"><i class="fas fa-map-marker-alt"></i> Beijing</div>
        </div>
        <div class="job-meta">
            <div class="title">LANGUAGE SPECIALSIT</div>
            <div class="time">2013 - 2015</div>
        </div>
        <div class="job-desc">
                <ul>
                        <li>Provided review and verification of translation work as required, including materials created by third-party translation services.</li>
                        <li>Have been actively involved in operating system and application text translation for Nokia and Samsung mobile devices.</li>
                    </ul>
            <p> </p> 
        </div>
    </div>
</div>
    
</div>


<div class="container sep-card" id="education-section">
    <h1 class="subtopic-head">Education</h1>
    <div class="row">
        <div class="col-lg-4 col-12">
                <h3 class="degree-type">MEng Information and Telecommunication Engineering</h3>
                <p class="university">University of Science and Technology Beijing</p>
                <p class="uni-years">2015 - 2018</p> 
        </div>
        
       
        <div class="col-lg-4 col-12">
                <h3 class="degree-type">BEng Electronic Information Engineering</h3>
                <p class="university">University of Science and Technology Beijing</p>
                <p class="uni-years">2011 - 2015</p>
        </div>
        <div class="col-lg-4 col-12">
                <h3 class="degree-type">Diploma in Chinese Language</h3>
                <p class="university">Tianjin University</p>
                <p class="uni-years">2010 - 2011</p>
        </div>
    </div>
</div>

<div class="container sep-card" id="skills-section">
    <h1 class="subtopic-head">Professional Skills</h1>
    <h1 class="sub-skill-topic">Top Skills</h1>
    <div class="row">
        <div class="col-lg-3 col-12 text-center" id="skill-python">
            <h4 class="sk-name">Python</h4>
        </div>
        <div class="col-lg-3 col-12 text-center" id="skill-java">
            <h4 class="sk-name">JavaScript</h4>

        </div>
        <div class="col-lg-3 col-12 text-center" id="skill-ml">
            <h4 class="sk-name">Machine Learning</h4>
        </div>
        <div class="col-lg-3 col-12 text-center" id="skill-dl">
            <h4 class="sk-name">SQL</h4>
        </div>
        
    </div>
    <h1 class="sub-skill-topic mt-5">Languages</h1>
    <div class="row">
        <div class="col-lg-3 col-12 text-center">
                <h4>English</h4>
                <p>
                    <i class="fas fa-star star-lit"></i>
                    <i class="fas fa-star star-lit"></i>
                    <i class="fas fa-star star-lit"></i>
                    <i class="fas fa-star star-lit"></i>
                    <i class="fas fa-star star-lit"></i>
                </p>
        </div>
        <div class="col-lg-3 col-12 text-center">
                <h4>Chinese</h4>
                <p>
                    <i class="fas fa-star star-lit"></i>
                    <i class="fas fa-star star-lit"></i>
                    <i class="fas fa-star star-lit"></i>
                    <i class="fas fa-star star-lit"></i>
                    <i class="fas fa-star"></i>
                </p>
        </div>
        <div class="col-lg-3 col-12 text-center">
                <h4>Sinhala</h4>
                <p>
                    <i class="fas fa-star star-lit"></i>
                    <i class="fas fa-star star-lit"></i>
                    <i class="fas fa-star star-lit"></i>
                    <i class="fas fa-star star-lit"></i>
                    <i class="fas fa-star star-lit"></i>
                </p>
        </div>
        <div class="col-lg-3 col-12 text-center">
                <h4>Japanese</h4>
                <p>
                    <i class="fas fa-star star-lit"></i>
                    <i class="fas fa-star star-lit"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </p>
        </div>
        
    </div>
    <h1 style="margin-top:20px" class="sub-skill-topic">Other Skills</h1>
    <div class="skill-container text-center">
        <span>Tensorflow</span>
        <span>Django</span>
        <span>Keras</span>
        <span>Visualization</span>
        <span>Matlab</span>
        <span>Big Data</span>
        <span>NLP</span>
        <span>React</span>
        <span>Embedded Systems</span>
        <span>Web Scrapping</span>
        <span>Encryption</span>
    </div>
</div>


<div class="container sep-card" id="portfolio-section">
    <h1 class="subtopic-head">Portfolio</h1>
<ul class="filter-group">
    <li class="filter active-filter" data-filter="*">All</li>
    <li class="filter" data-filter=".notebooks">Notebooks</li>
    <li class="filter" data-filter=".javascript">Javascript</li>
</ul>
<div class="grid row">



<div class="col-lg-3 col-12 grid-item javascript">
<div class="card mb-3 project-card">
<img class="card-img-top" src="/images/tree.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">D3 Graphs</h5>
<p class="card-text">Javascript/ d3.js</p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item project-link"><a href="https://github.com/dilums/d3-graphs"><i class="fab fa-github"></i> View on Github</a></li>
<li class="list-group-item project-link"><a href="https://dilums.github.io/d3-graphs/"><i class="fas fa-code-branch"></i> Live Demo</a></li>
</ul>
</div>
</div>


<div class="col-lg-3 col-12 grid-item javascript">
<div class="card mb-3 project-card">
<img class="card-img-top" src="/images/timeline1.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Timeline</h5>
<p class="card-text">Javascript/ three.js</p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item project-link"><a href="https://github.com/dilums/timeline"><i class="fab fa-github"></i> View on Github</a></li>
<li class="list-group-item project-link"><a href="https://dilums.github.io/timeline/"><i class="fas fa-code-branch"></i> Live Demo</a></li>
</ul>
</div>
</div>


<div class="col-lg-3 col-12 grid-item javascript">
<div class="card mb-3 project-card">
<img class="card-img-top" src="/images/cradle.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Animations</h5>
<p class="card-text">Javascript/ three.js</p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item project-link"><a href="https://github.com/dilums/animations"><i class="fab fa-github"></i> View on Github</a></li>
<li class="list-group-item project-link"><a href="https://dilums.github.io/animations/"><i class="fas fa-code-branch"></i> Live Demo</a></li>
</ul>
</div>
</div>


<div class="col-lg-3 col-12 grid-item javascript">
<div class="card mb-3 project-card">
<img class="card-img-top" src="/images/jsml_img2.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Javascript ML</h5>
<p class="card-text">Javascript/ ML5.js</p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item project-link"><a href="https://github.com/dilums/jsml"><i class="fab fa-github"></i> View on Github</a></li>
<li class="list-group-item project-link"><a href="https://dilums.github.io/jsml/"><i class="fas fa-code-branch"></i> Live Demo</a></li>
</ul>
</div>
</div>


<div class="col-lg-3 col-12 grid-item notebooks">
<div class="card mb-3 project-card">
<img class="card-img-top" src="/images/fnt.png" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Face Recognition</h5>
<p class="card-text">python/ notebook</p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item project-link"><a href="https://github.com/dilums/face-rec"><i class="fab fa-github"></i> View on Github</a></li>
<li class="list-group-item project-link"><a href="https://github.com/dilums/face-rec/blob/master/Facenet%20Compare%20Faces.ipynb"><i class="fas fa-code-branch"></i> Notebook</a></li>
</ul>
</div>
</div>


<div class="col-lg-3 col-12 grid-item notebooks">
<div class="card mb-3 project-card">
<img class="card-img-top" src="/images/spdist.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Species Distribution</h5>
<p class="card-text">python/ notebook</p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item project-link"><a href="https://github.com/dilums/Species-distribution"><i class="fab fa-github"></i> View on Github</a></li>
<li class="list-group-item project-link"><a href="https://github.com/dilums/Species-distribution/blob/master/Species%20Distribution%20Heatmaps.ipynb"><i class="fas fa-code-branch"></i> Notebook</a></li>
</ul>
</div>
</div>


<div class="col-lg-3 col-12 grid-item notebooks">
<div class="card mb-3 project-card">
<img class="card-img-top" src="/images/drd.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Networks</h5>
<p class="card-text">python/ notebook</p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item project-link"><a href="https://github.com/dilums/GOT-networks"><i class="fab fa-github"></i> View on Github</a></li>
<li class="list-group-item project-link"><a href="https://github.com/dilums/GOT-networks/blob/master/project/got-notebook.ipynb"><i class="fas fa-code-branch"></i> Notebook</a></li>
</ul>
</div>
</div>


<div class="col-lg-3 col-12 grid-item notebooks">
<div class="card mb-3 project-card">
<img class="card-img-top" src="/images/d-red.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">D-reduction</h5>
<p class="card-text">python/ notebook</p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item project-link"><a href="https://github.com/dilums/d-reduction"><i class="fab fa-github"></i> View on Github</a></li>
<li class="list-group-item project-link"><a href="https://github.com/dilums/d-reduction/blob/master/UMAP.ipynb"><i class="fas fa-code-branch"></i> Notebook</a></li>
</ul>
</div>
</div>
</div> 
</div>

<div class="container sep-card" id="contact-section">
    <h1 class="subtopic-head">Get in Touch</h1>
<section id="contact-section" class="contact-section section">
    <div class="intro">
        <img class="profile-image" src="/images/profile.png" alt="">
        <div class="dialog">
            <p>I'm currently taking on freelance work and also looking for challenging full-time opportunities. If you have an exciting project related to data science or web development, feel free to contact me.</p>
            <p><strong>I can help with the following:</strong></p>
            <ul class="list-unstyled service-list">
                <li><i class="far fa-check-circle"></i> Develop machine learning or deep learning models</li>
                <li><i class="far fa-check-circle"></i> Design 2D or 3D visulizations for any type of dataset</li>
                <li><i class="far fa-check-circle"></i> Utilize web scraping techniques to extract data</li>
                <li><i class="far fa-check-circle"></i> Develop web applications for embedded systems</li>
                <li><i class="far fa-check-circle"></i> Back-end development with Django/Python or Node.js/Javascript</li>
                <li><i class="far fa-check-circle"></i> Front-end development with React</li>
            </ul>
            <p>Mail me at <a href="mailto:dilumsanjaya@gmail.com" class="p-link">dilumsanjaya@gmail.com</a> or give me a call at <a href="tel:+94 0703301830" class="p-link">+94 0703301830</a></p>
            <ul class="social list-inline">
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/dilumsanjaya/" class="footer-icons"><i class="fab fa-linkedin"></i></a> </li>
                <li class="list-inline-item"><a href="https://twitter.com/DilumSanjaya" class="footer-icons"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/dilums" class="footer-icons"><i class="fab fa-github"></i></a></li>
                <li class="list-inline-item"><a href="#" class="footer-icons"><i class="fab fa-weixin"></i></a></li>
            </ul>
        </div>
    </div>
</section>
</div>























<script src="/assets/js/d3.min.js"></script>
<script src="/assets/js/isotope.js"></script>
<script src="/assets/js/profile.js"></script>